$backcol:#000;
$colw:#fff;
$yellow:yellow;
$act: blueviolet;
$pink:pink;
$excolw: aliceblue;
$cyancol:cyan;
$cementcol:#dbd8d8;
$colordark:darkslategrey;
$orange:darkorange;
$addresscol:#f7f7f7;
$acqu:aquamarine;
$acqat:aqua;
$colr:red;
$dell:goldenrod;